# Python cache
__pycache__/
*.py[cod]
*$py.class

# PyTorch Checkpoints & Models
*.pth
*.bin
*.onnx

# Data & Manifests
flops_comparison.json
*.jpg
*.jpeg

# Environments & IDEs
.venv/
venv/
ENV/
.idea/
.vscode/
*.swp
.DS_Store
